#navbar{
    font-size: 0.75rem;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
#navbar h1{
    font-size: 2rem;
    text-align: center;
}
#navbar ul {
    font-size: 0.5rem;
}

